<div class="about container-sm">

  <h3 class="text-colorTwo text-center py-2 fw-bold heading">Tagore Banda</h3>
  <img src="/assets/about-images/About-img.jpg" alt="" class="w-100 rounded">
  <p class="paragraph px-5 fw-semibold mt-4">
    In 1996, before I thought of becoming a dog trainer, I have adopted an 8 month

    old golden retriever named Cherry. Cherry ate couches, sheetrock, jumped on

    people, etc. Since I knew I needed help, so I have called a dog trainer to come to

    my home. Not only did she train Cherry, she trained me too. I have learned a lot

    of thing to do in terms of dog training. I was so excited that I could train Cherry,

    then I quit my job and start to get some education about dog training. I've been

    training people and their dogs ever since. Here is my certification list:
  </p>

  <p class="text-center fw-semibold">Certified Veterinary Technician</p>
  <p class="text-center fw-semibold">Certified Canine Athlete Specialist (CCAS)</p>
  <p class="text-center fw-semibold">Certified Dog Trainer (CDT)</p>
  <p class="text-center fw-semibold">Certified Dog Trainer Advanced (CDTA)</p>
  <p class="text-center fw-semibold">Professional Dog Trainer Instructor (PDTI)</p>
  <p class="text-center fw-semibold">Certified Service Dog Trainer (CSDT)</p>

  <div class="row">
    <div class="col-12 py-3">
      <ul class="nav p-0 m-0 align-items-center justify-content-center">
        <li class="d-flex align-items-center justify-content-center">
          <i class="bi bi-youtube fs-2 m-2 text-danger cursor-p"></i>
        </li>
        <li class="d-flex align-items-center justify-content-center">
          <i class="bi bi-twitter fs-2 m-2 text-info cursor-p"></i>
        </li>
        <li class="d-flex align-items-center justify-content-center">
          <i class="bi bi-linkedin fs-2 m-2 text-primary cursor-p"></i>
        </li>
        <li class="d-flex align-items-center justify-content-center">
          <i class="bi bi-facebook fs-2 m-2 text-primary cursor-p"></i>
        </li>
      </ul>
    </div>
</div>


</div>
