<div class="home">
  <div class="header text-center">
    <div class="overlay w-100 h-100"></div>
    <div class="text-colorOne position-relative">
      <div class="icon">
        <img src="/assets/home-images/Trainer-img.jpg" alt="App Icon" class="rounded-circle" width="100" height="100">
      </div>
      <h1>Banda Tagore</h1>
      <p>Dog Trainer</p>
    </div>
  </div>

  <div class="body container-sm px-3">
    <ul class="m-0 p-0">
      <li class="row p-3 item">
        <div class="col-3 px-0 my-auto text-center">
          <img src="/assets/home-images/home-img-2.jpg" class="w-75 h-100">
        </div>
        <div class="col-9 text-colorOne d-flex align-items-center">
          <div class="text-start w-100">
            <h5 class="mb-0">Fill out</h5>
            <p class="mb-0">Please provide the owner 's and dog 's information. </p>
          </div>
        </div>
      </li>
      <li class="row p-3 item">
        <div class="col-9 text-colorOne d-flex align-items-center">
          <div class="text-end w-100">
            <h5 class="mb-0">Request a Training</h5>
            <p class="mb-0">Fill out for scheduling an appointment.</p>
          </div>
        </div>
        <div class="col-3 px-0 text-center my-auto">
          <img src="/assets/home-images/home-img-3.jpg" alt="" class="w-75 h-100">
        </div>
      </li>
      <li routerLink="/services" class="d-flex justify-content-center align-items-center Services-btn item">
        <a class="w-100 h-100 text-colorOne text-center fw-bold text-decoration-none fs-5">See Services</a>
      </li>
      <hr class="opacity-100 bg-colorTwo my-4">
      <li class="row p-3 item">
        <div class="col-3 px-0 my-auto text-center">
          <img src="/assets/App-Icon.jpg" class="w-75 h-100 rounded-circle">
        </div>
        <div class="col-9 text-colorOne d-flex align-items-center">
          <div class="text-start w-100">
            <h5 class="mb-0">Evaluate the Training Progress</h5>
            <p class="mb-0">Fill out for evaluating your dog's training process</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="row mt-5 justify-content-between">
      <div class="col-6 ps-0">
        <button class="border-0 bg-colorTwo text-white w-100 rounded-1 py-2 bg-colorTwo-h">
          <i class="bi bi-telephone-fill"></i>
          <span> Call Me</span>
        </button>
      </div>
      <div class="col-6 pe-0">
        <button class="border-0 bg-colorTwo text-white w-100 rounded-1 py-2 bg-colorTwo-h">
          <i class="bi bi-envelope-fill"></i>
          <span> Email Me</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 py-3">
        <ul class="nav p-0 m-0 align-items-center justify-content-center">
          <li class="d-flex align-items-center justify-content-center">
            <i class="bi bi-youtube fs-2 m-2 text-danger cursor-p"></i>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <i class="bi bi-twitter fs-2 m-2 text-info cursor-p"></i>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <i class="bi bi-linkedin fs-2 m-2 text-primary cursor-p"></i>
          </li>
          <li class="d-flex align-items-center justify-content-center">
            <i class="bi bi-facebook fs-2 m-2 text-primary cursor-p"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
