<div class="header">
  <div class="row justify-content-between bg-white">
    <div *ngIf="false" class="col-12">
      <a href="/" class="app-icon py-2">
        <img src="/assets/header-images/App-Icon.jpg" alt="App-Icon">
        <span class="text-dark fw-bold px-2">Pets App</span>
      </a>

      <a class="pt-1 pe-3 float-end d-block d-sm-none" data-bs-toggle="offcanvas" data-bs-target="#dropdown">
        <i class="bi bi-list fs-1 fw-bold text-dark"></i>
      </a>
      <a href="#" class="profile pt-2 pe-3 float-end" data-bs-toggle="dropdown">
        <img class="profile-icon" src="/assets/header-images/profile.png" alt="">
      </a>

      <ul class="dropdown-menu py-0 mt-2">

        <div *ngIf="!userSignIn">
          <li class="dropdown-item">Action</li>
          <hr class="my-2">
          <li class="dropdown-item bg-colorTwo-h pe-auto">Another action</li>
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            <span>Profile</span>
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto rounded-bottom">
            Previous Orders
          </li>
        </div>
        <div *ngIf="userSignIn">
          <li class="dropdown-item bg-colorTwo-h pe-auto">Action</li>
          <hr class="my-2">
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            <span>Profile</span>
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            Previous Orders
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto rounded-bottom">
            <i class="bi bi-door-open"></i>
            Logout
          </li>
        </div>
      </ul>

      <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="dropdown" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pages</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <ul class="list-group">
          <li class="d-block px-3 py-2">
            <a routerLink="/home" routerLinkActive="active" class="nav-link"><span>Home</span></a>
          </li>
          <li class="d-block px-3 py-2">
            <a routerLink="/services" routerLinkActive="active" class="nav-link"><span>Services</span></a>
          </li>
          <li class="d-block px-3 py-2">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"><span>About</span></a>
          </li>
        </ul>
      </div>

      <ul class="nav h-100 float-end pe-2 d-none d-sm-flex">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/services" routerLinkActive="active" class="nav-link"><span>Services</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link"><span>About</span></a>
        </li>
      </ul>

    </div>
    <div *ngIf="true" class="col-12 position-relative">
      <a href="/" class="app-icon py-2 text-dark fw-bold">
        <i class="bi bi-arrow-left-short fs-3"></i>
        <span class="app-heading">Back</span>
      </a>

      <a class="pt-1 pe-3 float-end d-block d-sm-none" data-bs-toggle="offcanvas" data-bs-target="#dropdown">
        <i class="bi bi-list fs-1 fw-bold text-dark"></i>
      </a>
      <a href="#" class="profile pt-2 pe-3 float-end" data-bs-toggle="dropdown">
        <img class="profile-icon" src="/assets/header-images/profile.png" alt="">
      </a>

      <ul class="dropdown-menu py-0 mt-2">

        <div *ngIf="!userSignIn">
          <li class="dropdown-item">Action</li>
          <hr class="my-2">
          <li class="dropdown-item bg-colorTwo-h pe-auto">Another action</li>
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            <span>Profile</span>
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto rounded-bottom">
            Previous Orders
          </li>
        </div>
        <div *ngIf="userSignIn">
          <li class="dropdown-item bg-colorTwo-h pe-auto">Action</li>
          <hr class="my-2">
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            <span>Profile</span>
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto">
            Previous Orders
          </li>
          <li class="dropdown-item bg-colorTwo-h pe-auto rounded-bottom">
            <i class="bi bi-door-open"></i>
            Logout
          </li>
        </div>
      </ul>

      <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="dropdown" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Pages</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <ul class="list-group">
          <li class="d-block px-3 py-2">
            <a routerLink="/home" routerLinkActive="active" class="nav-link"><span>Home</span></a>
          </li>
          <li class="d-block px-3 py-2">
            <a routerLink="/services" routerLinkActive="active" class="nav-link"><span>Services</span></a>
          </li>
          <li class="d-block px-3 py-2">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"><span>About</span></a>
          </li>
        </ul>
      </div>

      <p class="name fw-bold">Fill Out</p>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
