@import "/src/styles.scss";

.services {
  padding: 150px 0px 100px;
  width: 672px;

  .btn:active, .btn:hover { background-color: $colorTwo-hover; }

  .col-block.cards {
    width: 100% !important;

    .card {
      flex-direction: row !important;

      .card-image {
        width: 25% !important;

        img {
          height: -webkit-fill-available !important;
          border-radius: 5px 0px 0px 5px !important;
        }
      }

      .card-body {
        width: 75% !important;
        font-size: 13px !important;
        display: flex;

        .card-content {
          width: 50% !important;

          .card-text {
            margin-bottom: 0px !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .btn {
          font-size: 13px !important;
          width: auto !important;
          margin: auto 0px 0px auto !important;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .services {
    width: 100% !important;
  }
}
