<div class="services container-sm">
  <h4 class="text-colorTwo text-center fw-bold mb-3">Services</h4>

  <app-filter-services (sendData)="receiveSearchData($event)" ></app-filter-services>

  <div class="row">
    <div class="col-6 cards p-3" *ngFor="let item of filteredServicesList">
      <div mat-button (click)="openDialog(item)" class="card bg-transparent pe-auto">
        <div class="card-image">
          <img src="{{item.img}}" class="w-100 rounded-top" alt="{{item.name}}">
        </div>
        <div class="card-body">
          <div class="card-content d-block">
            <p class="card-text text-colorTwo">{{item.name}}</p>
            <h5 class="card-title text-colorTwo fw-bold">{{item.amount}}</h5>
          </div>
          <button [routerLink]="['/about']" (click)="stop($event)"
            class="btn bg-colorTwo text-white w-100 p-2">Order Now</button>
        </div>
      </div>
    </div>
    <div class="px-3">
      <button routerLink="/home" class="btn bg-colorTwo text-white fw-bold w-100 mt-3">Homepage</button>
    </div>
  </div>
</div>
