<div class="training-progress w-100 py-1">
  <form class="bg-white mx-auto">
    <header class="mx-auto py-5 border-bottom border-gray d-flex text-center w-100">
      <!-- <div class="col-sm-4"> -->
        <img src="/assets/training-progress-images/heading-image.jpg" class="header-logo">
      <!-- </div> -->
      <p class="header-title ps-3 m-auto">Dog Training Progress Form</p>
    </header>
    <main>
      <div class="row column mx-1 my-2 p-2">
        <div class="col-sm-4 my-auto">
          <p>Pet Name</p>
        </div>
        <div class="col-sm-8 pt-1 ">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Enter Pet Name</mat-label>
            <input matInput type="text" class="pt-2">
            <!-- I will Update Errors in soon -->
            <!-- <mat-error *ngIf="loginForm?.controls['email']?.errors?.required">Please Enter Email Id</mat-error>
            <mat-error *ngIf="loginForm?.controls['email']?.errors?.email">Please Enter Valid Email Id
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row column mx-1 my-2 p-2">
        <div class="col-sm-4 my-auto">
          <p>Date</p>
        </div>
        <div class="col-sm-8 pt-1 ">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <!-- <mat-label>Departure Date</mat-label> -->
            <input placeholder="MM-DD-YYYY" matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row column mx-1 my-2 p-2">
        <div class="col-sm-4 my-auto">
          <p>Duration</p>
        </div>
        <div class="col-sm-8 pt-1 ">
          <mat-form-field class="w-100" appearance="outline">
            <!-- <mat-label>Enter Pet Name</mat-label> -->
            <input placeholder="Ex: Minutes" matInput type="text">
            <!-- I will Update Errors in soon -->
            <!-- <mat-error *ngIf="loginForm?.controls['email']?.errors?.required">Please Enter Email Id</mat-error>
            <mat-error *ngIf="loginForm?.controls['email']?.errors?.email">Please Enter Valid Email Id
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row column mx-1 my-2 p-2">
        <div class="col-sm-4 my-auto">
          <p>Command or Activity</p>
        </div>
        <div class="col-sm-8 pt-1 ">
          <mat-form-field class="w-100" appearance="outline">
            <!-- <mat-label>Enter Pet Name</mat-label> -->
            <input matInput type="text" class="pt-2">
            <!-- I will Update Errors in soon -->
            <!-- <mat-error *ngIf="loginForm?.controls['email']?.errors?.required">Please Enter Email Id</mat-error>
            <mat-error *ngIf="loginForm?.controls['email']?.errors?.email">Please Enter Valid Email Id
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row column mx-1 my-2 p-2 h-auto comments">
        <div class="col-sm-4 mt-3">
          <p>Comments</p>
        </div>
        <div class="col-sm-8 pt-1 ">
          <mat-form-field class="textarea w-100" appearance="outline">
            <!-- <mat-label>Leave a comment</mat-label> -->
            <textarea matInput placeholder="Type here..." class="pt-2"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row column mx-1 my-2 p-2 rating">
        <div class="col-sm-4 my-auto">
          <p>Rate</p>
        </div>
        <div class="col-sm-8">
          <div class="rate float-start">
            <!-- Stars Check this Link: https://codepen.io/hesguru/pen/BaybqXv -->

            <input type="radio" id="star1" name="rate">
            <label for="star1" class="p-0 my-1 mx-2 pe-auto float-end" title="Excellent"></label>
            <input type="radio" id="star2" name="rate">
            <label for="star2" class="p-0 my-1 mx-2 pe-auto float-end" title="Very Good"></label>
            <input type="radio" id="star3" name="rate">
            <label for="star3" class="p-0 my-1 mx-2 pe-auto float-end" title="Good"></label>
            <input type="radio" id="star4" name="rate">
            <label for="star4" class="p-0 my-1 mx-2 pe-auto float-end" title="Bad"></label>
            <input type="radio" id="star5" name="rate">
            <label for="star5" class="p-0 my-1 mx-2 pe-auto float-end" title="Very Bad"></label>

          </div>
        </div>
      </div>
    </main>
    <footer class="border-top border-gray">
      <div class="row my-5 text-center">
        <div class="col-sm-12 mx-auto">
          <button type="button" class="btn btn-outline-success px-4 py-2 mx-2">Save</button>
          <button type="button" class="btn btn-danger px-5 py-2 mx-2">Submit</button>
        </div>
      </div>
    </footer>
  </form>
</div>
